%fieldset
  = f.select :field_type, %w[integer string boolean select]
  = f.text_field :name, plaseholder: "field_name"
  = f.check_box :required
  = f.label :required
  = f.hidden_field :_destroy
  = link_to "[remove]", '#', class: "remove_fields" 