= simple_form_for @category do |f|
  - unless @category.id == 1
    = f.input :parent_id, collection: @categories
  = f.input :twin_id, collection: Category.all, as: :grouped_select, group_method: :children, prompt: "Select To Copy Properties" 
  = f.input :is_last
  = f.input :name

  %fieldset#category-properties
    %ol
      = f.simple_fields_for :categories_properties do |builder|
        = render 'categories_property_fields', f: builder
  .actions
    = link_to_add_association 'Add Property', f, :categories_properties,  |
      'data-association-insertion-node' => "#category-properties ol",     |
      'data-association-insertion-method' => "append", class:"btn aqua-gradient",  |
      :wrap_object => Proc.new {|categories_properties|                   |
      categories_properties.build_property; categories_properties }       |

    %br
    = f.submit 'Save', class:"btn aqua-gradient"

:coffee
  $ ->
    $('#prop_input').change ->
      prop_id = $('#prop_input :selected').val()
