.container
  .mt-5
    %span " "
  .mt-5
  %p#notice= notice

  %p
    %b Name:
    = @category.name
    %table
      %thead
        %tr
          %th 
          %th prop
          %th type
          %th options
      %tbody
        %tr
        - @category.properties.each do |prop|
          %td= prop.id
          %td= prop.name
          %td= prop.field_type
          %td= prop.options if prop.options

  = link_to 'Edit', edit_category_path(@category), class: "btn btn-info"
  \|
  = link_to 'Back', categories_path, class: "btn btn-danger"