= form_for @product do |f|
  - if @product.errors.any?
    #error_explanation
    %h2
      = pluralize(@product.errors.count, "error")
      prohibited thi product from being saved:
    %ul
      - @product.errors.full_messages.each do |msg|
        %li
          = msg

  = f.hidden_field :category_id
  
  = f.label :name
  = f.text_field :name

  = f.label :price
  = f.number_field :price

  = f.fields_for :properties, OpenStruct.new(@product.properties) do |builder|
    - @product.category.fields.each do |field|
      = render "/products/fields/#{field.field_type}", field: field, f: builder
  = f.submit 'save', class: "btn btn-primary"