= simple_form_for @product do |f|
  /= f.hidden_field :category_id
  = f.error_notification
  = f.association :category, disabled: true
  = f.input :name
  = f.simple_fields_for :property_values do |ff|
    - prop = Property.find(ff.object.property_id)
    = render "/products/fields/#{prop.field_type}", ff: ff, f: f, prop: prop
    = ff.hidden_field :property_id, input_html: {value: ff.object.property_id}

  = f.submit 'Save', class: "btn btn-primary"