!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Unitedideas
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    
  %body{:class => "#{controller_name} #{action_name}"}
    %header
      = render 'layouts/nav'
    
    %main
      .container.col-lg-10.col-md-12
        = yield

    %footer.page-footer.text-center.font-small.mt-4.wow.fadeIn.pt-4
      = render 'layouts/footer'